/* variables */
:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #193549;
  color: white;
  font-family: "Tahoma", sans-serif;
  font-weight: 100;
  font-size: 40px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

.btn {
  text-shadow: 1px 1px 2px whitesmoke;
  background-color: var(--base);
  border: none;
  color: black;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
}

/* controling the image styling with the variables */
img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  max-width: 100%;
  box-sizing: border-box;
}

.hl {
  color: var(--base);
}

.image {
  display: flex;
  max-width: 100%;
}